$orange-color:#f5883ac3;
.card{
    width: 70%;
    margin: 20px;
    background-color:white;
    border-radius: 5px;
    height: 25%;
    display: flex;
    align-items: center;
    transition: all 1s ease;
    .pic{
        width: 40%;
        //background-color: aquamarine;
        height: 100%;
        img{
            height: 100%;
            width: 100%;
        }
    }
    .pic:hover{
        cursor: pointer;
        transition: all 1s ease;
    }
    .write{
        width: 60%;
        height:90%;
        padding:0px 50px;
        overflow: hidden;
        .project-head{
            font-size: x-large;
            padding: 20px;
            font-weight: 600;
        }
        .project-info{
            opacity: 0.5;
            font-weight: 600;
            overflow: hidden;
            text-overflow: ellipsis;
            height: 45%;
        }
        .tech{
            //background-color: aqua;
            height: 40%;
            width: 100%;
            display:flex;
            justify-content: space-around;
            align-items: center;
            span{
                background-color: $orange-color;
                padding: 10px;
                border-radius: 18px;
                color: white;
            }
        }
    }
}
.card:hover{
    cursor: pointer;
    scale: 1.1;
    transition: all 1s ease;
}
@media screen and (max-width:1000px) {
    .card{
        height: 23%;
        width: 80%;
        .write{
            .project-info{
                height: 60%;
            }
            .tech{
                display: none;
            }
        }
    }
}
@media screen and (max-width:700px) {
    .card{
        flex-direction: column;
        height: 50vh;
        width: 60%;
        .pic{
            width: 100%;
            height: 45%;
        }
        .write{
            width: 100%;
            height: 50%;
            padding: 0px 10px;
            .project-head{
                width: 100%;
            }
            .project-info{
                opacity: 0.7;
                
            }
            .tech{
                display: none;
            }
        }
    }
}
@media screen and (max-width:500px) {
    .card{
        width: 80%;
        font-size: small;
    }
}

